.bottomBar {
    background-color: var(--bottomBar-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.bottomBarItem {
    border-right: 1px solid #E8E8E8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bottomBarItem:last-child{
    border-right: 0px solid transparent;
}

.bottomBarItem svg {
    font-size: 2em;
    color: white;
}